
footer{
    background-color: #2A4F6E;
}

.MainContainer{
    background-color: #2A4F6E;
    width: 70%;
    margin: auto;
}

.MainContainer > p{
    text-align: center;
    font-size: 10px;
    color: white;
    font-weight: lighter;
    padding-bottom: 20px;
}

.FirstContainer,.SecondContainer,.SocialContainer{
    display: inline-block;
    width: 33%;
    
}

.FirstContainer,.SecondContainer{
    text-align: center;
    margin: auto;
    color: white;
    
}

.SocialItem {
    margin-right: 20px;
}

#FBItem:hover > img{
    content: url("/Images/fb.png");
}

#InstItem:hover > img{
    content: url("/Images/insta.png");
}

#YTItem:hover > img{
    content: url("/Images/youtube.png");
}