.HeaderDiv{
    background-color: rgb(179, 43, 88);
}
.Text{
    color: white;
}

.Text-1{
    padding: 30px;
}

.MenuDiv{
    background-color: rgb(107, 0, 36);
}

.Text-2{
    padding: 20px;
}

.Side{
    height: 50vh;
    position: relative;
}
.AsidesLeft,.MainContent,.AsideRight{
    float: left;
}
.AsidesLeft{
    height: 40%;
    width: 20%;
    
}



.Text-3{
    padding: 50px;
    padding-bottom: 100px;
}

.ColorSide{
    background-color: rgb(189, 70, 109);
}

.MainContent{
    position: relative;
    left: 5;
    margin-left: 20px;
    width: 60%;
    padding: 0px 30px;
    
}

.MainContent > h1{
    color: white;
}

.MainContent > section{
    padding: 0px 30px;
    margin: 20px 2px 20px 0px;
    background-color: pink;
    height: 40%;
}

.MainContent > section >h1{
    color: white;
    padding: 50px;
}

.AsideRight{
    margin-left: 5%;
    writing-mode: vertical-rl;
    text-align: center;
    text-orientation: upright;
    float: left;
    margin-right: 0;
    padding: 15px 30px;
    height: 36vh;
}

.AsideRight > h1{
    color: white;
}

footer{
    margin: 10px 0;
    padding: 20px 30px;
    width: 96%;
    background-color: rgb(172, 12, 81);
}

footer > h2{
    color: white;
}